<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <div class="list-group" style="overflow-y: scroll; height: 95vh">
        <a *ngFor="let user of users" (click)="GetUserComments(user.id)" style="cursor: pointer"
           class="list-group-item list-group-item-action">
          <h5 class="mb-1">{{user.email}}</h5>
        </a>
      </div>
    </div>
    <div class="col-sm-7">
      <ngx-loading [show]="loader"></ngx-loading>
        <div *ngIf="userVote.length>0" class="card text-white bg-primary" style="padding: 1rem"><h3>{{userVote}}</h3></div>
        <ul class="list-group list-group-flush" style="overflow-y: scroll; height: 80vh">
          <li *ngFor="let comment of comments" class="list-group-item">
            <h5 class="card-title">{{comment.email}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{comment.date}}</h6>
            <p class="card-text">{{comment.text}}
            </p>
          </li>
        </ul>
    </div>
  </div>
</div>
