<div class="card" style="margin-bottom: 3rem">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-11" style="height: 30rem;">
        <ngx-charts-bar-vertical
          [scheme]="colorScheme"
          [results]="data"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
      </div>
      <div class="col-sm-12">
        <hr>
      </div>
      <div class="col-sm-4">
        <div class="input-group mb-3">
          <input [(ngModel)]="search" id="searchInput" type="text" class="form-control" placeholder="Naziv aplikacije">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"><i class="material-icons my-auto">search</i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card-columns">
          <div *ngFor="let app of apps | AppSearch: 'name': search" [routerLink]="['/application-details', app.name]" class="card"
               style="cursor: pointer; border-radius: 30px; border-top: 2px solid #a8385d">
            <div class="card-header">
              <h6>{{app.name}}</h6>
              <div style="margin-bottom: 0!important;" class="card-subtitle mb-2 text-muted">{{app.team}}</div>
            </div>
            <div class="card-body">
              <small class="card-text">{{app.short_description}}
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
