<div class="card" style="margin-bottom: 3rem">
  <div class="card-body">
    <p>Studenti Računarskog fakulteta, grupisani u timove, učestvovali su na RAFroid takmičenju za najbolju aplikaciju
      fakulteta. Aplikacije su organizovane tako da informišu studente o događajima na fakultetu, rasporedu ispita,
      predavanja i drugog.
      Svaka aplikacija sadrži svojstvenu dozu kreativnosti i veštine kodiranja, ali samo jedna može postati zvanična
      aplikacija fakulteta.
      Studenti su oni koji će napraviti ovaj izbor - glasanjem. Na ovoj stranici, svaki student može pogledati opise i
      slike svake aplikacije, može preuzeti aplikaciju na svoj telefon i sam je testirati, a zatim i odabrati kojoj
      aplikaciji će dati svoj glas - jednostavnim klikom na dugme "GLASAJ" koje se nalazi na zasebnoj stranici svake
      aplikacije.
      Neka najbolja aplikacija pobedi!</p>
  </div>
</div>
