<div class="card" style="margin-bottom: 3rem">
  <div class="card-body">
    <h2>Kako glasati? </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae pellentesque massa. Integer non lorem
      eget justo rhoncus vulputate vitae quis tellus. Mauris velit magna, convallis at augue a, finibus pulvinar ante.
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec sodales
      tristique ligula sed sagittis. Ut lobortis ipsum eget volutpat sollicitudin. Nullam sed erat ac mauris varius
      hendrerit.

      In quam ex, pretium quis dictum eget, commodo vel nisl. Suspendisse potenti. Mauris in odio volutpat, imperdiet
      massa ac, euismod arcu. Fusce at tempor justo. Aenean nec rhoncus libero, non elementum odio. Suspendisse vehicula
      dictum ultricies. Nam urna leo, tempor in risus vitae, pretium commodo sapien. Aenean auctor, nisl sit amet
      eleifend tincidunt, nisl risus consequat nulla, quis egestas erat eros sed nulla. Etiam ultrices lacus non urna
      malesuada, vel blandit lectus viverra. Praesent in lorem vestibulum, sollicitudin dui non, pharetra lectus.
      Phasellus vel nulla posuere, ultricies augue nec, dignissim nisi. Nunc elementum vel ante sed dignissim.

      Pellentesque vestibulum porta dignissim. Vivamus semper sed nulla facilisis tristique. Donec semper, dui eget
      lobortis malesuada, dolor est dignissim nunc, sit amet pharetra nisl massa at arcu. Donec eu vehicula dui, in
      eleifend felis. Nam imperdiet nunc vitae risus dictum egestas. Donec vel scelerisque lacus. Integer quis nisi quis
      lacus sollicitudin dignissim.

      Nunc vitae nisi quis eros ultricies euismod et vel augue. Integer et tincidunt orci. Quisque ultrices sem vitae
      sapien maximus, quis dapibus dolor malesuada. Vivamus volutpat turpis eget ultricies sollicitudin. Donec feugiat
      faucibus pulvinar. Integer dignissim velit nisi, in suscipit ipsum congue sit amet. Fusce lectus est, consequat
      vitae iaculis nec, tristique sed nunc. Maecenas velit velit, placerat sit amet gravida a, placerat gravida tellus.
      Donec et urna sed quam volutpat lacinia lacinia nec eros. Vivamus erat tellus, posuere a purus vitae, convallis
      ultricies sapien. Etiam finibus arcu condimentum erat tincidunt venenatis. Aliquam in volutpat erat, eget cursus
      urna. Quisque porta erat vel ex euismod, sed ullamcorper elit volutpat.

      Morbi urna nibh, eleifend eget nisl at, pharetra mattis nibh. Fusce ex enim, ullamcorper a leo non, malesuada
      molestie leo. Cras cursus pellentesque erat, ut molestie felis volutpat ut. Pellentesque habitant morbi tristique
      senectus et netus et malesuada fames ac turpis egestas. Sed id suscipit ipsum, vitae sodales nulla. Praesent nisi
      eros, dictum eu auctor ut, dapibus ac dui. Nam vulputate leo sollicitudin metus fringilla condimentum in eget
      purus. Nullam lacus sem, congue a volutpat sit amet, luctus sit amet turpis.</p>
  </div>
</div>
